.petal{

position:absolute;

top:-50px;

width:14px;

height:14px;

background:#ffd88d;

border-radius:

50% 50%

50% 0;

opacity:.8;

transform:rotate(45deg);

animation:fall linear infinite;

filter:blur(.4px);

}

@keyframes fall{

0%{

transform:

translateY(-80px)

rotate(0deg);

opacity:0;

}

10%{

opacity:1;

}

100%{

transform:

translateY(120vh)

translateX(120px)

rotate(360deg);

opacity:0;

}

}