.snow{

    position:absolute;
    inset:0;

    overflow:hidden;

}

.snow span{

    position:absolute;

    top:-20px;

    width:5px;
    height:5px;

    border-radius:50%;

    background:white;

    opacity:.7;

    animation:fall linear infinite;

}

@keyframes fall{

    to{

        transform:translateY(120vh);

    }

}