.dust{

position:absolute;

inset:0;

pointer-events:none;

z-index:7;

}

.particle{

position:absolute;

bottom:18vh;

left:50%;

width:6px;

height:6px;

background:white;

border-radius:50%;

animation:magic 5s linear infinite;

opacity:.7;

}

.particle:nth-child(odd){

left:48%;

}

.particle:nth-child(even){

left:52%;

}

@keyframes magic{

0%{

transform:

translateY(0)

scale(.5);

opacity:0;

}

50%{

opacity:1;

}

100%{

transform:

translateY(-350px)

translateX(80px)

scale(2);

opacity:0;

}

}