.letterClosed{

position:absolute;

bottom:90px;

left:50%;

transform:translateX(-50%);

z-index:20;

}

.letter{

width:220px;
height:140px;

cursor:pointer;

position:relative;

transition:.5s;

}

.letter:hover{

transform:
translateY(-8px)
scale(1.05);

}

.paper{

position:absolute;
inset:0;

border-radius:12px;

background:

linear-gradient(
#efe6c8,
#e5d6b1
);

}

.seal{

position:absolute;

left:50%;
top:50%;

transform:translate(-50%,-50%);

width:42px;
height:42px;

background:#9f2b2d;

border-radius:50%;

box-shadow:

0 0 20px rgba(159,43,45,.6);

}

.letter span{

position:absolute;

bottom:18px;

width:100%;

text-align:center;

color:#5c4837;

font-weight:600;

}

.introCard{

position:absolute;

left:50%;
top:50%;

transform:translate(-50%,-50%);

width:550px;
max-width:90%;

padding:45px;

background:#efe6c8;

border-radius:12px;

box-shadow:

0 20px 60px rgba(0,0,0,.4);

text-align:center;

animation:fadeIn .8s;

z-index:20;

}

.introCard p{

margin-bottom:22px;

line-height:1.8;

font-size:20px;

color:#4c3d2d;

}

.continueButton{

display:inline-block;

margin-top:20px;

padding:14px 32px;

background:#6b4729;

color:white;

text-decoration:none;

border-radius:30px;

transition:.3s;

}

.continueButton:hover{

transform:translateY(-3px);

}

@keyframes fadeIn{

from{

opacity:0;
transform:
translate(-50%,20px);

}

to{

opacity:1;
transform:
translate(-50%,-50%);

}

}